:root {
	color-scheme: light dark;
	touch-action: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #cfcfcf;
		--fg: #121212;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #121212;
		--fg: #cfcfcf;
	}
}

:root:has(#theme-select [value="light"]:checked) {
	color-scheme: light;
	--bg: #cfcfcf;
	--fg: #121212;
}

:root:has(#theme-select [value="dark"]:checked) {
	color-scheme: dark;
	--bg: #121212;
	--fg: #cfcfcf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--bg);
	color: var(--fg);
	min-height: 100vh;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-items: center;
	text-align: center;
}

nav {
	height: 3em;
	border-bottom: 1px solid darkgrey;
}

	nav ul {
		list-style: none;
		display: flex;
		justify-items: center;
		align-items: center;
	}

		nav ul li button {
			height: 3em;
		}

input[type='checkbox'] {
	display: none;
}

button,
.button {
	display: flex;
}

.navbar-leftmost {
	margin-right: auto;
}

.navbar-rightmost {
	margin-left: auto;
}

.card {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: #888;
}
