:root {
	--background: black;
	--primary-colour: #222;
	--secondary-colour: #333;
	--accent-colour: red;
	--text-colour: #aaa;

	touch-action: none;
}

* {
	margin: 0;
	padding: 0;
}	

html {
	font-family: montserrat, sans-serif;
	font-size: 16pt;
	color: var(--text-colour);
}

body {
	width: 100%;
	min-height: 100vh;

	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="file"] {
	display: none;
}

.no-text-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.view {
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.start-view {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.card-view {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 12px minmax(auto, 48px);
	grid-template-areas: "card card"
											 "info info"
											 "remember forgot";

	gap: 10px;
}

.button {
	background-color: var(--background);
	color: #aaa;
	padding: 6px 12px;
	border: 1px solid var(--secondary-colour);
	border-radius: 8px;
}

.button:hover {
	background-color: var(--primary-colour);
}

.button:active {
	background-color: #444;
}

.card-container {
	/* display: flex;
	flex-direction: column;
	justify-content: center; */

	display: grid;

	grid-area: card;
	border-radius: 8px;
	border: 1px solid var(--secondary-colour);
	overflow: hidden;
}

.card {
	background-color: var(--primary-colour);

	font-size: 1.25rem;

	display: flex;
	flex-grow: 1;

	justify-content: center;
	align-items: center;
	text-align: center;
}

#open {
	grid-area: open-button;
}

#remember {
	grid-area: remember;
}

#forgot {
	grid-area: forgot;
}

#counter {
	grid-area: info;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.65rem;
}


.hidden {
	display: none;
	pointer-events: none;
}