* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #aaa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
}

.no-text-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 & 11 */
	user-select: none;
}

.flashcard {
	background-color: #222;
	border-radius: 12px;

	font-size: 30px;
	font-size: 3.5vw;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;

	margin: 6%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
