* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #aaa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
}

input[type="file"] {
	display: none; /* This will be replaced with a label 'for' this input */
}

.custom-button {
	display: inline-block;

	background-color: #333;
	color: #ccc;

	font-size: 15px;
	font-size: 1.5vw;

	border: none;
	border-radius: 6px;
	padding: 6px 12px;

	cursor: pointer;
}

.custom-button:hover {
	background-color: #444;
}

.custom-button:active {
	background-color: #222;
	transition: all 0.1s
}

.file-upload.custom-button {
	/* display: inline-block; */
	background-color: #8a0b14;
	/* border-radius: 6px;
	padding: 6px 12px;
	cursor: pointer; */
}

.no-text-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 & 11 */
	user-select: none;
}

.flashcard {
	background-color: #222;
	border-radius: 12px;

	font-size: 30px;
	font-size: 3.5vw;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;

	margin: 6%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
