* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
}

footer {
	position: absolute;
	bottom: 0;
}

.flashcard {
	background-color: lightgrey;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24pt;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 & 11 */
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;

	margin: 10%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
